.grayscale {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
}
.post {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  padding: 0;
  padding-bottom: 4px;
}
.post-info {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  position: relative;
}
.col-md-6 {
  //padding: 6px;
  margin-bottom: 30px;
}
.column_container {
    width: 959px;
    margin: 0 auto;
}
body{
  background-color: #1a1a1a;
  color: white;
}
.pull-right{
  color: #FFF;
}

IMG.post {
    display: block;
    margin-left: auto;
    margin-right: auto }

.row{
  background-color: #333333;
  padding: 10px;
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 5%;
}

.aaa{
  background color: #000;
  margin-top: 5%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 5%;
}
